@model   B_Web_App.Models.DashboardModal
@{
    var CurrentDashboard = ViewBag.CurrentDashboard;
    var UserRole = ViewBag.UserRole;
}
<div class="row-fluid">
    <!-- start: Content -->
    <div id="content" class="span11" style="min-height: 939px;">

        @{
            ViewBag.Title = @ViewBag.Message;
            Html.RenderPartial("BCRSummary", Model);
        }

    </div>
</div>
