@{
    Cockpit_NextGenMVC.BAL.VW_USERS SessionUSer = (Cockpit_NextGenMVC.BAL.VW_USERS)Session["UserProfile"];
    List<Cockpit_NextGenMVC.Controllers.Model_Pie> lstTeamMembers = (List<Cockpit_NextGenMVC.Controllers.Model_Pie>)Session["TeamProfile"];
}
<form id="FrmIndex" name="FrmIndex">
<table style="width: 100%">
    <tr style="height: 30px !important;">
        <td>
            <b>Order Number :</b>
        </td>
        <td>
            <input type="text" id="Followup_SalesOrder" name="Followup_SalesOrder" style="width: 50%;" />
            <img src="../../Content/img/search-plus-24.png" style="cursor: pointer;" onclick="SeachOrderDetails(Followup_SalesOrder.value);" />
        </td>
        <td>
            <b>Owner :</b>
        </td>
        <td>
            @(Html.Kendo().ComboBox()
                            .Name("Followup_owner")
                            .DataTextField("category")
                            .DataValueField("Color")
                            .Placeholder("Select size...")
                            .BindTo(lstTeamMembers)
                            .Value(SessionUSer.NTLOGIN)
                            .HtmlAttributes(new { style = "width:200px;" })
                            .Suggest(true)
                            )
        </td>
    </tr>
    <tr style="height: 30px !important;">
        <td>
            <b>Status :</b>
        </td>
        <td>
            <input type="text" readonly="readonly" readonly="readonly" name="status" style="color: Green !important;
                width: 50%;" value="Open" />
        </td>
        <td>
            <b>Customer :</b>
        </td>
        <td>
            <input type="text" id="Followup_Customername" name="Followup_Customername" style="width: 100%;" />
        </td>
    </tr>
    <tr style="height: 30px !important;">
        <td>
            <b>Description :</b>
        </td>
        <td colspan="3">
            <input type="text" id="Followup_Description" name="Followup_Description" style="width: 100%;"
                placeholder="Please Provide Follow-up Description here..." />
        </td>
    </tr>
    <tr style="height: 40px !important;">
        <td>
            <b>Due date :</b>
        </td>
        <td>
            @(Html.Kendo().DatePicker().Name("dt_DueDate").Value(@System.DateTime.Now.ToShortDateString())
                                                      .HtmlAttributes(new { style = "width:90%" }).Min(DateTime.Today)
                                                        )
        </td>
        <td>
            <b>Priority :</b>
        </td>
        <td>
            @(Html.Kendo().DropDownList()
                                  .Name("drpPriority")
                                  .BindTo(new List<string>() {
                                      "1- High",
                                      "2- Medium",
                                      "3- Low"
                                  })
                                  .SelectedIndex(1)
                                  .HtmlAttributes(new { style = "width:100%" })
                                  )
        </td>
    </tr>
    <tr>
        <td>
            <b>Comment : </b>
        </td>
        <td colspan="3">
            <textarea id="Followup_Comments" name="Followup_Comments" rows="3" style="width: 100%"></textarea>
        </td>
    </tr>
    <tr style="height: 40px">
        <td colspan="2" align="right" style="padding-right: 5px;">
            <button class="btn btn-primary" type="button" id="btnAddFollowup" onclick="return validate_FollowupForm();">
                Save changes</button>
        </td>
        <td colspan="2" align="left" style="padding-left: 5px;">
            <button class="btn btn-warning" type="reset" id="btnReset">
                Reset</button>
        </td>
    </tr>
</table>
</form>
