<table class="table table-striped table-bordered">
    <tr>
        <td>
            Sales Order
        </td>
        <td>
            <input type="text" readonly="readonly" id="header_SalesOrder" class="label-default" />
        </td>
        <td>
            Customer PO # Ref.
        </td>
        <td>
            <input type="text" readonly="readonly" id="header_PO" class="label-default" />
        </td>
    </tr>
    <tr>
        <td>
            Created By
        </td>
        <td>
            <input type="text" readonly="readonly" id="header_CreatedBy" class="label-default" />
        </td>
        <td>
            Order Owner
        </td>
        <td>
            <input type="text" readonly="readonly" id="header_OrderOwner" class="label-default" />
        </td>
    </tr>
    <tr>
        <td>
            Order Region
        </td>
        <td>
            <input type="text" readonly="readonly" id="header_OrderRegion" class="label-default" />
        </td>
        <td>
            Primary Product
        </td>
        <td>
            <input type="text" readonly="readonly" id="header_PrimaryProduct" class="label-default" />
        </td>
    </tr>
    <tr>
        <td>
            Order Aging (from Creation Date)
        </td>
        <td>
            <input type="text" readonly="readonly" id="header_Aging" class="label-default" />
        </td>
        <td>
            Aging Bucket
        </td>
        <td>
            <input type="text" readonly="readonly" id="header_Aging_Bucket" class="label-default" />
        </td>
    </tr>
     <tr>
        <td>
            SNI Aging (from Actual Goods Issue Date)
        </td>
        <td>
            <input type="text" readonly="readonly" id="header_SNI_Aging" class="label-default" />
        </td>
        <td>
            SNI Bucket
        </td>
        <td>
            <input type="text" readonly="readonly" id="header_SNI_Aging_Bucket" class="label-default" />
        </td>
    </tr>
    <tr>
        <td>
            Backlog Status
        </td>
        <td>
            <input type="text" readonly="readonly" id="header_Backlogstatus" class="label-default" />
        </td>
        <td>
            Backlog (USD)
        </td>
        <td>
            <input type="text" readonly="readonly" id="header_Backlog" class="label-default" />
        </td>
    </tr>
    <tr>
        <td>
            Overall Installation Status
        </td>
        <td>
            <input type="text" readonly="readonly" id="header_InstallationStatus" class="label-default" />
        </td>
        <td>
            
        </td>
        <td>
            
        </td>
    </tr>
    <tr>
        <td>
            Payment Term
        </td>
        <td>
            <input type="text" readonly="readonly" id="header_PaymentTerm" class="label-default" />
        </td>
        <td>
            Payment Term Description
        </td>
        <td>
            <input type="text" readonly="readonly" id="header_PaymentTermDescr" class="label-default" />
        </td>
    </tr>
    <tr>
        <td>
            Payment Type
        </td>
        <td>
            <input type="text" readonly="readonly" id="header_PaymentType" class="label-default" />
        </td>
        <td>
            Complete Delivery Required?
        </td>
        <td>
            <input type="text" readonly="readonly" id="header_CompleteDelivery" class="label-default" />
        </td>
    </tr>
    <tr>
        <td>
            Order Date
        </td>
        <td>
            <input type="text" readonly="readonly" id="header_OrderDate" class="label-default" />
        </td>
        <td>
            Delta Load Date Bucket
        </td>
        <td>
            <input type="text" readonly="readonly" id="header_DeltaLoadDateBucket" class="label-default" />
        </td>
    </tr>
    <tr>
        <td>
            DB Closure Days Delta
        </td>
        <td>
            <input type="text" readonly="readonly" id="header_DBClosureDaysDelta" class="label-default" />
        </td>
        <td>
            SNI Closure Days Delta
        </td>
        <td>
            <input type="text" readonly="readonly" id="header_SNIClosureDaysDelta" class="label-default" />
        </td>
    </tr>
</table>
