<table class="table table-striped table-bordered">
    <tr>
        <td>
            Sales Order
        </td>
        <td>
            <input type="text" readonly="readonly" id="Delivery_SalesOrder" class="label-default" />
        </td>
        <td>
            Complete Delivery Required
        </td>
        <td>
            <input type="text" readonly="readonly" id="Delivery_CompleteDeliveryRequired" class="label-default" />
        </td>
    </tr>
    <tr>
        <td>
            Required Delivery Date
        </td>
        <td>
            <input type="text" readonly="readonly" id="Delivery_CRDD" class="label-default" />
        </td>
        <td>
            Actual Goods Issue Date
        </td>
        <td>
            <input type="text" readonly="readonly" id="Delivery_AGIDate" class="label-default" />
        </td>
    </tr>
    <tr>
        <td>
            Delivery Priority
        </td>
        <td>
            <input type="text" readonly="readonly" id="Delivery_Priority" class="label-default" />
        </td>
        <td>
            Delivery Priority Text
        </td>
        <td>
            <input type="text" readonly="readonly" id="Delivery_Prio_Text" style="width: 300px;"
                class="label-default" />
        </td>
    </tr>
    <tr>
        <td>
            Early Delivery Acceptable
        </td>
        <td>
            <input type="text" readonly="readonly" id="Delivery_EDA" class="label-default" />
        </td>
        <td>
            Shipping Point
        </td>
        <td>
            <input type="text" readonly="readonly" id="Delivery_Shipment_Point" class="label-default" />
        </td>
    </tr>
    <tr>
        <td>
            Shipment Cut-Off Date
        </td>
        <td>
            <input type="text" readonly="readonly" id="Delivery_Shipment_CutOffDate" class="label-default" />
        </td>
        <td>
            Shipping Condition
        </td>
        <td>
            <input type="text" readonly="readonly" id="Delivery_Shipping_Condition" class="label-default" />
        </td>
    </tr>
    <tr>
        <td>
            Shipping Date Change Reason
        </td>
        <td>
            <input type="text" readonly="readonly" id="Delivery_Shipping_Date_Change_Reason"
                class="label-default" />
        </td>
        <td>
            Delivery Date Change Reason
        </td>
        <td>
            <input type="text" readonly="readonly" id="Delivery_Date_Change_Reason" class="label-default" style="width: 100%;" />
        </td>
    </tr>
</table>
