    <!-- Main content -->
        <section class="content">

          <div class="error-page">
            <div class="error-content" style="color:White;">
              <h3>
              <i class="fa fa-warning text-red"></i> CNG is Currently Down due to New System Enhancements release.</h3>
              <p>
                It will take approximately 4 hrs. to resume back in Normal operations mode.
                Meanwhile, you can work offline and update CNG once it is available again.<br /><br />

                Thanks,<br />
                CNG Support Team
              </p>
            </div>
          </div><!-- /.error-page -->

        </section><!-- /.content -->
