@{
    ViewBag.Title = "UserSessionExpired";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
       
}
  
    

    <!-- Automatic element centering -->
    <div class="lockscreen-wrapper">
      

      <!-- START LOCK SCREEN ITEM -->
      <div class="lockscreen-item">
        <!-- lockscreen image -->
        
          
        <!-- /.lockscreen-image -->

        <!-- lockscreen credentials (contains the form) -->
        <form class="lockscreen-credentials text-center">
          <div class="input-group">
            <!-- User name -->
            <table>
            <tr>
            <td><img src="../Content/Img/Lock.png" alt="Session Expired" style="width:100px;height:100px;"/>
            </td>
            <td><h3>Downtime Notification</h3> @User.Identity.Name.ToString()</td>
            </tr>
            </table>
          </div>
        </form><!-- /.lockscreen credentials -->
      </div><!-- /.lockscreen-item -->

      <div class='lockscreen-footer text-center'>
        <h2 style="color:Red;">Tool is Currently down for Maintainence Activities</h2>
      </div>
      <div class='lockscreen-footer text-center'>
        <strong>Copyright &copy; 2015-2016 <a href="#">Agilent Technologies</a>.</strong><br />
        All rights reserved
      </div>
    </div>
