@model IEnumerable<Cockpit_NextGenMVC.BAL.Tbl_Order_Action_Owner>
@{
    Cockpit_NextGenMVC.BAL.VW_USERS SessionUSer = (Cockpit_NextGenMVC.BAL.VW_USERS)Session["UserProfile"];
    List<Cockpit_NextGenMVC.Controllers.Model_Pie> lstTeamMembers = (List<Cockpit_NextGenMVC.Controllers.Model_Pie>)Session["UniqueCSRs"];

    if (lstTeamMembers != null && lstTeamMembers.Where(p => p.category == "--- Select User--- ").Count() == 0)
    {lstTeamMembers.Insert(0, new Cockpit_NextGenMVC.Controllers.Model_Pie {category="--- Select User--- " });}
}
<script language="javascript">

    var checkedRollBackIds = {};
    var checked = [];
    var SalesOrderNo = "";

    $(document).ready(function () {
        $("#cmb_NewOwner").change(function () {
            var Username = $("#cmb_NewOwner").val();
            $.ajax({
                type: 'POST',
                url: '../User/GetReassignedOrdersOFUser/', 
                dataType: 'json',
                data: { Username: Username },
                success: function (result) {
                    var ms = $("#grdReAssignedOrders").data('kendoGrid');

                    for (var i = 0; i < result.length; i++) {
                        var item = result[i];

                        item.Ownership_From = formatJSONDateFromNumericdate(item.Ownership_From);
                        item.Ownership_To = formatJSONDateFromNumericdate(item.Ownership_To);
                        item.Assigned_On = formatJSONDateFromNumericdate(item.Assigned_On);
                    }

                    ms.dataSource.data(result);


                },
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });
            return false;

        })

        AssignOwnerships = $("#RollBackOwnerships"),
        AssignOwnerships.bind("click", function () {
            var h = document.getElementById('hdnsno');
            var NewOwnerNtLogin = $("#cmb_NewOwner").val();
            var result = confirm("Are you sure to Rollback selected sales order number " + checked.toString() + " ownership from " + NewOwnerNtLogin + " to actual order creator ?");
            if (result == true) {
                $.ajax({
                    cache: false,
                    type: "POST",
                    async: false,
                    url: '../User/RollbackMultipleOrders',
                    data: { selectedOrders: checked.toString(), username: NewOwnerNtLogin },
                    datatype: "json",
                    success: function (data) {
                        alert("selected sales order number " + checked.toString() + " ownership from " + NewOwnerNtLogin + " to actual order creator has been assigned");
                        $.ajax({
                            type: 'POST',
                            url: '../User/GetReassignedOrdersOFUser/', // we are calling json method
                            dataType: 'json',
                            data: { Username: NewOwnerNtLogin },
                            success: function (result) {
                                var ms = $("#grdReAssignedOrders").data('kendoGrid');
                                for (var i = 0; i < result.length; i++) {
                                    var item = result[i];

                                    item.Ownership_From = formatJSONDateFromNumericdate(item.Ownership_From);
                                    item.Ownership_To = formatJSONDateFromNumericdate(item.Ownership_To);
                                    item.Assigned_On = formatJSONDateFromNumericdate(item.Assigned_On);
                                }

                                ms.dataSource.data(result);


                            },
                            error: function (ex) {
                                alert('Failed to retrieve states.' + ex);
                            }
                        });
                    },
                    statusCode: {
                        404: function (content) { alert('cannot find resource'); },
                        500: function (content) { alert('internal server error'); }
                    },
                    error: function (req, status, errorObj) {
                        // handle status === "timeout"
                        // handle other errors
                    }
                });
            }
        });

    });
</script>

<script language="javascript">
    function checkAllRollBackOrders(ele) {
        var state = $(ele).is(':checked');
        var grid = $('#grdReAssignedOrders').data().kendoGrid;

        $("#grdReAssignedOrders input").each(function () {

            if (state == true) {
                $(this).prop('checked', true);
                selectReAssignedOrders(this);
            }
            else {
                $(this).prop('checked', false);
                selectReAssignedOrders(this);
            }
        });
        checked.length = 0;

        for (var i in checkedRollBackIds) {
            if (checkedRollBackIds[i]) {
                checked.push(i);
            }
        }

        for (var i = 0; i < checked.length; i++) {
            SalesOrderNo += checked[i].toString() + ",";
        }
        $("#hdnsno").val(checked.toString());
        
        
       
        
    }

    function selectReAssignedOrders(ele) {
        var checkeed = ele.checked,
        row = $(ele).closest("tr"),
        grid = $("#grdReAssignedOrders").data("kendoGrid"),
        dataItem = grid.dataItem(row);
        checkedRollBackIds[dataItem.SALES_ORDERNO] = checkeed;
        if (checkeed) {
            //-select the row
            row.addClass("k-state-selected");
        } else {
            //-remove selection
            row.removeClass("k-state-selected");
        }


        checked.length = 0;

        for (var i in checkedRollBackIds) {
            if (checkedRollBackIds[i]) {
                checked.push(i);
            }
        }

        for (var i = 0; i < checked.length; i++) {
            SalesOrderNo += checked[i].toString() + ",";
        }
        $("#hdnsno").val(checked.toString());
        
    }

  
</script>


<div class="content-wrapper">
    <section class="content-header">
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i>Home</a></li>
            <li><i class="halflings-icon cog"></i>User Mapping Rollback</li>
        </ol>
   </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="description-block border-right">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-sm-12" style="border:1px solid white; text-align:left; font-weight:bold;">
                                Please select user to rollback order ownership mapping.
                            </div>
                        </div>
                                    <div class="row">
                                    <div class="col-sm-2" style="border:1px solid white; text-align:left;">
                                        @(Html.Kendo().DropDownList().MinLength(150)
                                        .Name("cmb_NewOwner")
                                        .Filter("contains")
                                        .DataTextField("category")
                                        .DataValueField("category")
                                        .BindTo(lstTeamMembers)
                                        .SelectedIndex(0)
                                        )
                                    </div>   
                                    <div class="col-sm-3" style="border:1px solid white; text-align:left;">
                                        @Html.Kendo().Button().Name("RollBackOwnerships").Content("Rollback Ownership(s)").Icon("tick")
                                    </div>
                                    <div class="col-sm-7" style="border:1px solid white; text-align:left;">
                                        <input type="hidden" name="hdnsno" id="hdnsno" />
                                    </div>
                                    </div>
                                    
                                </div>
                                <div class="box-content">
                                    

                                    @(Html.Kendo().Grid(Model)
                                    .Name("grdReAssignedOrders")
                                    .ToolBar(tools => tools.Excel())
                                    .Columns(columns =>
                                    {
                                        columns.Template(@<text></text>)
                                       .ClientTemplate(
                                       "<input name='selectedOrder' class='checkbox' type='checkbox' onclick='selectReAssignedOrders(this)' />"
                                       )
                                       .HeaderTemplate("Select All <br/> <input type='checkbox' id='masterCheckBox' title='All' onclick='checkAllRollBackOrders(this)'/>")
                                    .Width(80)
                                    .HeaderHtmlAttributes(new { style = "text-align:center" });
                                        columns.Bound(p => p.SALES_ORDERNO).Width(80).Filterable(fb => fb.Multi(true));
                                        columns.Bound(p => p.Default_Owner).Width(80).Filterable(fb => fb.Multi(true));
                                        columns.Bound(p => p.Current_Owner).Width(100);
                                        columns.Bound(p => p.Current_Owner_SAPName).Title("Default Owner SAP Name").Width(100);
                                        columns.Bound(p => p.Ownership_Type).Title("Ownership Type").Width(100).Filterable(fb => fb.Equals(true));
                                        columns.Bound(p => p.Ownership_From).Width(100).Format("{0:MM/dd/yyyy}");
                                        columns.Bound(p => p.Ownership_To).Width(140).Format("{0:MM/dd/yyyy}");
                                        columns.Bound(p => p.Assigned_By).Title("Assigned By").Width(100);
                                        columns.Bound(p => p.Assigned_On).Title("Assigned On").Width(100).Format("{0:MM/dd/yyyy}");
                                    })
                                    .Scrollable(sc => sc.Height(350))
                                    .Pageable()
                                    .Sortable()
                                    .Scrollable()
                                    .Filterable()
                                    .NoRecords("No record found for the selected user.")
                                                     
                                    //.Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("EditUser"))
                                    .Excel(excel => excel
                                    .FileName("CNG_Users.xlsx")
                                    .Filterable(true)
                                    .ProxyURL(Url.Action("Excel_Export_Save", "Grid"))
                                    )
                                    .HtmlAttributes(new { style = "height:630px;" })
                                    .DataSource(dataSource => dataSource
                                    .Ajax()
                                    .PageSize(20)
                                    .Events(events => events.Error("onError"))
                                    )
                                    .Resizable(resize => resize.Columns(true))

                                    )

                    <div class="alert alert-success alert-dismissable" id="div_UserUpdate_Success" name="div_UserUpdate_Success"
                        style="visibility: hidden;">
                        <button class="close" aria-hidden="true" type="button" data-dismiss="alert">
                            ×</button>
                        <h4>
                            <i class="icon fa fa-check"></i>Confirmation!</h4>
                        <p>
                            User Details Modified Successfully.</p>
                    </div>

                            
                </div>
                                    
                        </div>
                    </div>   
                </div>
    </section>
</div>