<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://b-web-app.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>b-web-app.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>B-Web-App</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$B-Web-App</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CNG_Azure" Order="1" Enabled="False">
          <Destination Path="Data Source=hsqlserver.database.windows.net;Initial Catalog=Practice_DB;Integrated Security=False;User ID=test;Password=secure@2k19;Connect Timeout=15;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" Name="Data Source=hsqlserver.database.windows.net;Initial Catalog=Practice_DB;Integrated Security=False;User ID=test;Password=secure@2k19;MultipleActiveResultSets=True;Connect Timeout=15;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="B_Web_App.Models.CNG_Azure, B-Web-App" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AzureDBConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=hsqlserver.database.windows.net;Initial Catalog=Practice_DB;Integrated Security=False;User ID=test;Password=secure@2k19;Connect Timeout=15;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" Name="Data Source=hsqlserver.database.windows.net;Initial Catalog=Practice_DB;Integrated Security=False;User ID=test;Password=secure@2k19;MultipleActiveResultSets=True;Connect Timeout=15;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="B_Web_App.Models.DAL, B-Web-App" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="Data Source=hsqlserver.database.windows.net;Initial Catalog=Practice_DB;Integrated Security=False;User ID=test;Password=secure@2k19;Connect Timeout=15;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" Name="Data Source=hsqlserver.database.windows.net;Initial Catalog=Practice_DB;Integrated Security=False;User ID=test;Password=secure@2k19;MultipleActiveResultSets=True;Connect Timeout=15;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="B_Web_App.Models.ApplicationDbContext, B-Web-App" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AzureDBConnection-Web.config Connection String">
      <ParameterValue>Data Source=hsqlserver.database.windows.net;Initial Catalog=Practice_DB;Integrated Security=False;User ID=test;Password=secure@2k19;MultipleActiveResultSets=True;Connect Timeout=15;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework;ApplicationIntent=ReadWrite;MultiSubnetFailover=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CNG_Azure-Web.config Connection String">
      <ParameterValue>Data Source=hsqlserver.database.windows.net;Initial Catalog=Practice_DB;Integrated Security=False;User ID=test;Password=secure@2k19;MultipleActiveResultSets=True;Connect Timeout=15;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework;ApplicationIntent=ReadWrite;MultiSubnetFailover=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=hsqlserver.database.windows.net;Initial Catalog=Practice_DB;Integrated Security=False;User ID=test;Password=secure@2k19;MultipleActiveResultSets=True;Connect Timeout=15;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework;ApplicationIntent=ReadWrite;MultiSubnetFailover=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>